package templates

templ IndexPage(authenticated bool) {
	@BaseHTMX(authenticated) {
		<h1>Project Flower Clip @ minzify.xyz</h1>
		<div>
			<form method="POST" action="/svg/upload">
				<label>
					upload SVGs <input type="file" multiple accept="image/svg+xml" name="svg-files" />
				</label>
				<button>upload</button>
			</form>
		</div>
	}
}
